
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@300;400;700&family=Poppins:wght@400;700&family=Raleway:ital,wght@0,200;0,300;0,400;1,200&family=Roboto&family=Satisfy&family=Sofia+Sans&display=swap');

html, body {
  height: 100vh;
  overflow: hidden;
  font-family: Poppins;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-family: Poppins;
  background: rgba( 255, 255, 255, 0.4 );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  transition: 0.3s;
  padding: 1%;
}

nav > img {
  border-radius: 50%;
  width: 40px;
}

nav > button {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-family: Poppins;
}

nav > a, nav > button, ion-icon {
  cursor: pointer;
}

nav > a {
  text-decoration: none;
}

a {
  text-decoration:none;
  color: black;
}

a.active, a:hover, a:focus {
  color: white;
  text-decoration:underline;
  transition: 0.3s;
}

div.container {
  display: flex;
  justify-content: center;
}

.darkToggle {
  font-size: 24px;
}

.darkNav {
  background: rgba( 0, 0, 0, 0.25 );
  color: white;
}

.darkButton {
  background-color: white;
  color: black;
}

.darkHTML {
  color: black;
}

.darkText {
  color: white;
}


div.div-content-home h1 {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
  font-size: 65px;
  margin-top: 20%;
}


    div.div-content-home h2 {
      opacity: 0;
      animation-name: fade-in;
      animation-duration: 0.7s;
      animation-delay: 1s;
      animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      animation-fill-mode: forwards;
      font-size: 30px;

    }

  @media only screen and (max-width: 540px) {
    div.div-content-home h1 {
      margin-top: 20%;
      justify-content: center;
      display: flex;
      font-size: 40px;
    }

    @media only screen and (max-width: 540px) {
      div.div-content-home h2 {
        justify-content: center;
        display: flex;
        font-size: 25px;
      }

div.div-content-home span:last-child {
  animation-delay: 0.9s;
}



div.div-content-about {
  margin: 3%;
  color: black;
}

div.div-content-projects {
  margin: 3%;
  color: black;

}

@keyframes fade-in {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
    transform: rotate(0deg);
  }


